<a href="https://colab.research.google.com/github/SANAD343/Python_For_DataScience/blob/main/Python_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unchangeable, but you can remove items and add new items.

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Sets cannot have two items with the same value.

Once a set is created, you cannot change its items, but you can remove items and add new items.

#Creating Set-->

#comma Seprated immutable items with the curlly braces.{}


#Python also provide the set frunction. defined as  set()

In [1]:
data={"jan","feb","march","april","may","june","july"}
print(data)

{'march', 'jan', 'april', 'may', 'june', 'feb', 'july'}

In [2]:
type(data)

set

In [3]:
for item in data:
  print(item)

march
jan
april
may
june
feb
july

In [4]:
data1=set(["sanad","himanshu","suraj","honey","raj","neha","shivan"]) #for  set function we only use list and tuple

In [5]:
type(data1)

set

In [6]:
for item in data1:
  print(item)

raj
honey
sanad
shivan
neha
himanshu
suraj

In [8]:
data2=set((100,200.5,"raj","datalve","python"))
print(data2)

{'raj', 100, 200.5, 'python', 'datalve'}

In [9]:
type(data2)

set

In [10]:
for item in data2:
  print(item)

raj
100
200.5
python
datalve

In [11]:
#it can contain any type of elements such as integer, float, tupple etc. All the data are immutable
#but mutable elements(list, and Dictionary, set) cant be a member of set.

In [12]:
data3={200,5+4j,200.6,"virendra","d"}
print(type(data3))

<class 'set'>

In [13]:
data4={100,200.5,("tcs","infosys","79"),["sanad","himanshu",6+8j]}
type(data4) #error come as list, dictionary are not part of set.

#while checking the type of data4, it raised an error(type error), which mean can contain only mutable data.

TypeError: unhashable type: 'list'

In [14]:
data4={100,200.5,("tcs","infosys","79")} #only tupple
type(data4)

set

In [15]:
data5={} #empty dictionary
type(data5)

dict

In [16]:
data6=set() #empty set
type(data6)

set

In [17]:
data7={1000,2000,"raj","r",5,8,9,9,9,9,9,10} #automatically remove duplicate data from the set, property of set
print("return set with unique element", data7)

return set with unique element {'raj', 5, 1000, 8, 9, 10, 'r', 2000}

In [18]:
#Adding item to the set

friends={"sanad","himashu","honey","suraj","shrikant"} #set
friend2= set(("sanad","himashu","honey","suraj","shrikant","ankit")) #set with set fruction we can take list tuple or dictionary for set function
friend3= set({"f1":"sanad","f2":"himashu","f3":"Ankit"}) #set with dictionary

In [19]:
print(friend3)

{'f3', 'f2', 'f1'}

In [20]:
friends.add("hello world")

In [21]:
print(friends)

{'hello world', 'honey', 'himashu', 'suraj', 'shrikant', 'sanad'}

In [22]:
friends.update(friend2)

In [23]:
print (friends)

{'honey', 'sanad', 'hello world', 'shrikant', 'ankit', 'suraj', 'himashu'}

In [24]:
friends.update({"f1":"sanad","f2":"himashu","f3":"Ankit"})

In [25]:
print(friends)

{'honey', 'f1', 'sanad', 'f2', 'hello world', 'shrikant', 'f3', 'ankit', 'suraj', 'himashu'}

In [26]:
friends.discard("suraj") #deleting the elements

In [27]:
print(friends)

{'honey', 'f1', 'sanad', 'f2', 'hello world', 'shrikant', 'f3', 'ankit', 'himashu'}

In [28]:
friends.remove("ankit")

In [29]:
print(friends)

{'honey', 'f1', 'sanad', 'f2', 'hello world', 'shrikant', 'f3', 'himashu'}

In [30]:
friends.discard("ankit")

In [31]:
friends.remove("ankit")  #will get error as we have already discard ankit

KeyError: 'ankit'

In [32]:
friends.pop()

'honey'

In [33]:
friends.pop()

'f1'

In [34]:
friends.pop()

'sanad'

In [35]:
friends.pop()

'f2'

In [36]:
friends.pop()

'hello world'

In [37]:
friends.pop()

'shrikant'

In [38]:
friends.pop()

'f3'

In [39]:
friends.pop()

'himashu'

In [40]:
friends.pop() #here we have an empty set

KeyError: 'pop from an empty set'

In [41]:
print(friends)

set()

In [42]:
friend3= set({"f1":"sanad","f2":"himashu","f3":"Ankit"})

In [43]:
friend3.clear()

In [44]:
print(friend3)

set()

In [46]:
i=0   #while statement
while(i<10):
  print(i,"hellboy")
  i=i+1

0 hellboy
1 hellboy
2 hellboy
3 hellboy
4 hellboy
5 hellboy
6 hellboy
7 hellboy
8 hellboy
9 hellboy

In [47]:
set1={"sanad","himanshu","honey","suraj","ankit"}
set2={"pranshu","shrikant","ankit"}
print(set1|set2)

{'ankit', 'honey', 'himanshu', 'suraj', 'shrikant', 'pranshu', 'sanad'}

In [48]:
set1.union(set2) #unction of set

{'ankit', 'himanshu', 'honey', 'pranshu', 'sanad', 'shrikant', 'suraj'}

In [49]:
print(set1&set2) # &- sign of am% it will give the common elements in the set

{'ankit'}

In [50]:
set1.intersection(set2) #function of set

{'ankit'}

In [51]:
a={"devansh","babloo","chetan"} #intersection_update will work for more then 2 sets. It will not work with two sets
b={"chetan","deva","amway"}
c={"rahul","chetan","gaurav"}
a.intersection_update(b,c)
print(a)

{'chetan'}

In [52]:
set4={"jan","feb","march","april"} #priority
set5={"jan","feb","dec"}
print(set4-set5)

{'march', 'april'}

In [53]:
set5.difference(set4)

{'dec'}

In [54]:
print(set4^set5)

{'march', 'april', 'dec'}

In [55]:
set1={1,2,3,4,5}
set2={1,2}
set3={1,2,6}
set4={3,4,5}

set1>set2

True

In [56]:
set1<set2

False

In [57]:
set1>set4

True

In [58]:
set1==set2

False

In [59]:
set1==set3

False