<a href="https://colab.research.google.com/github/SANAD343/Python_For_DataScience/blob/main/Python_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

#Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

#Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

#Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [2]:
t1=("raj","himanshu","datascience","datalove","saurabh")
type(t1)

tuple

In [3]:
print(t1)

('raj', 'himanshu', 'datascience', 'datalove', 'saurabh')

In [4]:
for item in (t1): #loop
  print(t1)

('raj', 'himanshu', 'datascience', 'datalove', 'saurabh')
('raj', 'himanshu', 'datascience', 'datalove', 'saurabh')
('raj', 'himanshu', 'datascience', 'datalove', 'saurabh')
('raj', 'himanshu', 'datascience', 'datalove', 'saurabh')
('raj', 'himanshu', 'datascience', 'datalove', 'saurabh')

In [5]:
for item in (t1): #for loop
  print(item)

raj
himanshu
datascience
datalove
saurabh

In [6]:
for item in (t1): # for horizontal
  print(item,end=" ")

raj himanshu datascience datalove saurabh

In [7]:
t2=("sanad","himanshu","datascience","datalove","saurabh",1,2,3,4,5.1)
type(t2)

tuple

In [8]:
for item in t2:  #vertical
  print(item)

sanad
himanshu
datascience
datalove
saurabh
1
2
3
4
5.1

In [10]:
for item in t2:        #horizontal
  print(item,end=",")

sanad,himanshu,datascience,datalove,saurabh,1,2,3,4,5.1,

In [11]:
t2[0]   #Indexing

'sanad'

In [12]:
t2[0:5]    #slicing

('sanad', 'himanshu', 'datascience', 'datalove', 'saurabh')

In [13]:
t2[1:6]

('himanshu', 'datascience', 'datalove', 'saurabh', 1)

In [14]:
t2[1:6:2]

('himanshu', 'datalove', 1)

In [15]:
t2[1:10:2]   #slicing

('himanshu', 'datalove', 1, 3, 5.1)

In [17]:
t2=("sanad","himanshu","datascience","datalove","saurabh",1,2,3,4,5.1)
t3=("python","hello world")

In [18]:
t4=t3+t2

In [19]:
t4

('python',
 'hello world',
 'sanad',
 'himanshu',
 'datascience',
 'datalove',
 'saurabh',
 1,
 2,
 3,
 4,
 5.1)

In [20]:
t4[0]="saurabh" #this is inmutable operation

TypeError: 'tuple' object does not support item assignment

In [22]:
t5=("sanad","himanshu","datascience","datalove","saurabh",1,2,3,4,5.1)
t6=("python")
t7=t5+t6

TypeError: can only concatenate tuple (not "str") to tuple

In [23]:
t5=("sanad","himanshu","datascience","datalove","saurabh",1,2,3,4,5.1)
t6=("python",)
t7=t5+t6

In [24]:
t7

('sanad',
 'himanshu',
 'datascience',
 'datalove',
 'saurabh',
 1,
 2,
 3,
 4,
 5.1,
 'python')

In [25]:
type(t6)

tuple

In [26]:
type(t7)

tuple

In [27]:
a1=("welcom","to","datalove","developers")
a1[2:]

('datalove', 'developers')

In [28]:
a1[0:2]

('welcom', 'to')

#Nested tupple

In [29]:
employee=(("sanad","singh"),("banglore","karnataka"),("sept 2023",10,"data scientist"))

In [30]:
print(employee)

(('sanad', 'singh'), ('banglore', 'karnataka'), ('sept 2023', 10, 'data scientist'))

In [31]:
type(employee)

tuple

In [32]:
for item in employee:
  print(item)

('sanad', 'singh')
('banglore', 'karnataka')
('sept 2023', 10, 'data scientist')

In [34]:
emp=(("himanshu","singh"),("banglore","karnataka"),("sept 2023",10,"data scientist"))

In [36]:
emp[0][0],emp[0][1]  #slicing

('himanshu', 'singh')

In [37]:
print("employe_name:",emp[0][0],emp[0][1])

employe_name: himanshu singh

In [38]:
emp=(("sanad","singh"),("banglore","karnataka"),("sept 2023",10,"data scientist"))

In [41]:
emp[1][0],emp[1][1]

('banglore', 'karnataka')

In [42]:
print("employe_location:",emp[1][0],emp[1][1])

employe_location: banglore karnataka

In [43]:
#print("joining_date & role:",emp[2][0],emp[2][1])

print("employee details:\n","joining_month:",emp[2][0],"\n","joining_date:",emp[2][1],"\n","employe_profile:",emp[2][2])

employee details:
 joining_month: sept 2023
 joining_date: 10
 employe_profile: data scientist

In [44]:
fruits=("apple","mango","banana","gooseberry") #packing tuple

In [45]:
(f1,f2,f3,f4)=fruits

In [46]:
f1

'apple'

In [47]:
f2

'mango'

In [48]:
f3

'banana'

In [49]:
f4

'gooseberry'

In [51]:
t1=["Raj","himanshu"]

In [52]:
t1[0]+"python"

'Rajpython'

In [53]:
t1=("Raj","himanshu")
t2=("datalove",)
t3=t1+t2

In [54]:
print(t3)

('Raj', 'himanshu', 'datalove')

In [55]:
t1=("sanad","himanshu")  #due to immutable
t1[0]="hellhound"

TypeError: 'tuple' object does not support item assignment

In [56]:
t1=()
type(t1)

tuple

In [57]:
t2=tuple()
type(t2)

tuple

In [58]:
t3=(100)
t4=3,
t5=(4,)
type(t3)
type(t4)
type(t5)

tuple

In [60]:
t3=(100)
type(t3)

int

In [61]:
t6=(1,2,3,4,5,6,7,8,9,10) # Long Tuple
type(t6)

tuple

In [62]:
t7=(11,12,(13,14)) # Nested Tuple
type(t7)

tuple

In [64]:
t8=tuple("datalove") #converting string to tuple
type(t8)

tuple

In [65]:
l=["a","b","c","d","e"] #list to tuple
t9=tuple(l)
print(t9)

('a', 'b', 'c', 'd', 'e')

In [66]:
t10=tuple(input("enter the data"))  # taking input from the user or keyboard

enter the data55

In [67]:
print(t10)

('5', '5')

In [68]:
t10=tuple(input("enter the data"))

enter the data2 3 raj

In [69]:
print(t10)

('2', ' ', '3', ' ', 'r', 'a', 'j')

In [70]:
t10=(input("enter the data")) #without tuple function

enter the datahello world

In [71]:
print(t10)

hello world

In [72]:
t10=str(input("enter the data"))

enter the datahello world

In [73]:
print(t10)

hello world

In [74]:
t1=int(input("enter the number"))
t2=int(input("enter the number"))
t3=t1/t2
print(t3)

enter the number1548
enter the number2
774.0

In [75]:
t1=(1,2,3) #concatination will happen
t2=(4,5,6)
t3=("a",12.5,(7,8))
t1+t2+t3

(1, 2, 3, 4, 5, 6, 'a', 12.5, (7, 8))

In [76]:
t1=(1,2,3)+2 #type error only concatenate tuple to tuple

TypeError: can only concatenate tuple (not "int") to tuple

In [77]:
t1=(1,2,3)
print(t1+(2,))

(1, 2, 3, 2)

In [78]:
t10=(12,45,21,65,23,4,56,67,23,59)

In [79]:
t10[3:7]

(65, 23, 4, 56)

In [80]:
t10[3:-3]

(65, 23, 4, 56)

In [81]:
t1=(1,2,3)
t2=(4,5,6)

In [82]:
print(t1)

(1, 2, 3)

In [83]:
print(t1)

(1, 2, 3)

In [84]:
print(t1==t2)

False

In [85]:
print(t1!=t2)

True

In [86]:
print(t1>=t2)

False

In [87]:
print(t1<=t2)

True

In [88]:
t=(12,16,45,64,93)
max(t)

93

In [89]:
min(t)

12

In [90]:
t=(12,16,45,64,93) #tuple keywords
t.index(45)

2

In [91]:
t=(12,16,45,64,93,34,67,12,95)
t.count(12)

2

In [92]:
t=(12,16,45,64,93,34,67,12,95)
t.index(95)

8