<a href="https://colab.research.google.com/github/SANAD343/Python_For_DataScience/blob/main/Python_Condition%26Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10

In [ ]:
a="c"

In [ ]:
type(a)

str

In [ ]:
int("123")

123

In [ ]:
int("abcd")

ValueError: invalid literal for int() with base 10: 'abcd'

In [ ]:
print("Hello World")

Hello World

In [ ]:
age=32
print("My age is:", age)

My age is: 32

#use of f string

In [ ]:
age=32
print(f"My age is: {age}")

My age is: 32

#Format()

In [ ]:
name="sanad"
age=30
print("My name is {} and age is {}".format(name, age))

My name is sanad and age is30

In [ ]:
print("My age is {} and name is {}".format(age,name))

My age is 30 and name is sanad

#PlaceHolder

In [ ]:
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is sanad and age is 30

In [ ]:
name="Sanad Singh"
age=30
degree="B.Tech"

" My age is 32 and i have completed: my degree of BE with the name of Krish Naik"

' My age is 32 and i have completed: my degree of BE with the name of Krish Naik'

In [ ]:
print("My age is {} and i have completed: my degree{} with the name of {}".format(age,degree,name))

My age is 30 and i have completed: my degreeB.Tech with the name of Sanad Singh

In [ ]:
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

My age is 30 and I have completed: my degree of B.Tech with the name of Sanad Singh

#Control FLow Statement

#Decision Making Statements

*   It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
*   Structure of decision making evaluate several expressions that provide True or False as a result.
*   It is up to you to decide which type of action want to take and execute the statements based upon True and False.

These are several topics of decision making which going to be discussed below:

*  if

*  if else

*  if elif else

*  Nested if

*  Single Statement Suites

In [ ]:
## If Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [ ]:
## If Statements
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [ ]:
18<=18

True

In [ ]:
name=input("Enter the name")

Enter the namesanad Singh

In [ ]:
name

'sanad Singh'

In [ ]:
age=int(input("Enter the age"))

Enter the age30

#TASK

*   Take a input of age

*   check whether age >=18 and age<=45

*   display a message you are young blood

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
  print("You can have a young Blood")
else:
  print("You are to old to handle")

Enter the age63
You are to old to handle

In [ ]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
  print("You can have a young Blood")
else:
  print("You are to old to handle")

Enter the age25
You can have a young Blood

In [ ]:
22>=18 and 22<=45

True

In [ ]:
22<=42

True

In [ ]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")

Enter the age50

# If else satetements

In [ ]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you your we will let you know")

Enter the age35
You are young blood

In [ ]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you your we will let you know")

Enter the age55
Thank you your we will let you know

# Task 2

*  mall - input the product price
*  product >1000 rs 20% off
*  print the product price after removing the
   discount
*  product <=1000 rs 30% off
*  print the product price after removing the
   discount

In [ ]:
product_price=int(input("Enter the price"))
if product_price>1000:
  print("The price of the product is {}".format(product_price*0.8))
else:
  print("The price of the product is {}".format(product_price*0.7))

Enter the price100
The price of the product is 70.0

In [ ]:
product_price=int(input("Enter the price"))
if product_price>1000:
  print("The price of the product is {}".format(product_price*0.8))
else:
  print("The price of the product is {}".format(product_price*0.7))

Enter the price999999
The price of the product is 799999.2000000001

In [ ]:
int((20/100)*5000)

1000

In [ ]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price2000
The price of the product is 1600.0

# Task 3

* mall - input the product price
* product >3000 rs 20% off
* price is ==4000 you get a trip to Goa
*  print the product price after removing the discount
*  product >=2000 rs and <=3000 30% off
*  print the product price after removing the discount
*  price ==2999  u will get adiitional gift
*  product 100 rs and <=2000 40% off
*  print the product price after removing the discount

In [ ]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price2000
The price of the product is 1400.0

In [ ]:
#comaprission operator
True==True

True

In [ ]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number5000
Go Home

In [ ]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):
  print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number888
Value is less than equal to 999

# Loops statements


1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

In [ ]:
# while loop while-else #print all age from 25-60 and then print the statement
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [ ]:
### Atm machine with 1000 rs


total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-500
else:
    print("Put more money bank people")

print("Hello All")

1000
500
Put more money bank people
Hello All

# For Loop

In [ ]:
lst=["Sanad",1,2,3,4,"apple","banana"]

In [ ]:
type(lst)

list

In [ ]:
lst[4]

4

In [ ]:
lst

['Sanad', 1, 2, 3, 4, 'apple', 'banana']

In [ ]:
for item in lst:
  print(item)

Sanad
1
2
3
4
apple
banana

In [ ]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

for item in fruits_list:
  print(item)
  if item=="Cherry":
    print("The Fruit is Cherry")

Mango
Cherry
The Fruit is Cherry
Apple
Papaya
Banana

In [ ]:
fruit="mango"
for item in fruit:
  print(item)

m
a
n
g
o

In [ ]:
fruit='mango'
for x in fruit:
    print(x, end="")

mango

In [ ]:
fruit[2]

'n'

# Range

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,7,2):
  print(i)

0
2
4
6

# Nested Loops

In [ ]:
n=7

for i in range(0,n):
  for j in range(0,i+1):
    print("*",end="")
  print("\r")

*
**
***
****
*****
******
*******

#Loop controls

# Break and continue

In [ ]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [ ]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [ ]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana