<a href="https://colab.research.google.com/github/SANAD343/Python_For_DataScience/blob/main/Python_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is OOPs?

* Oops stands for Object-Oriented Programming System

* In computer science their are various programming launguage available for instructing systems or computing devices.
* OOPs is one of the fundamental concept for every computer launguage to provide a clear modular sturcture and effective way of solving problems
* Obeject oriented programiing is a programing paradigm,  that deals with various fundamental of its concepts after the procedural laungage revolution.
* The oops concept has become an essential part of our programing world to achieve better productivity, flexiblity, userfriendlyness, rapid code management.

# What is Class?

*  Class is nothing but, buleprint, templete,plann, design for an object. Class is a virtual entity.

# What is Object?

* Object is a physical instance of a class

# How to define a class?

* Document String
* Constructor
* Statement 1
* Statement 2

In [1]:
a= 1
print(type(a))

<class 'int'>

In [2]:
print(type("Sanad Singh"))

<class 'str'>

In [3]:
class test:
  pass
a=test()

In [4]:
print(type(a))

<class '__main__.test'>

In [5]:
class dataloves: # Class define
  def welcome(self): #constructor
    print("welcome to the hollow earth") #statement
obj=dataloves() #object calling
obj.welcome()

welcome to the hollow earth

In [6]:
obj2=dataloves()
obj2.welcome()

welcome to the hollow earth

In [7]:
a=1,
b=2
print(a,b)

(1,) 2

In [8]:
class dataloves:
  def __init__(self, phone_number,email_id,student_id):
    self.phone_number=phone_number
    self.email_id=email_id
    self.student_id=student_id
    print("Student Details")
  def talk(self):
    print("Method execution")
obj=dataloves(4256489,"sand@hotmail.com",235)
obj.talk()

Student Details
Method execution

In [9]:
# write a programm to get student details

class student:
  "Here we got the student details"
  def __init__(self,sid,sname,snumber):
    self.sid=sid
    self.sname=sname
    self.snumber=snumber
  def talk(self):
    print("Student Details")
    print("Student Id:", self.sid)
    print("Student Name:", self.sname)
    print("Student Name:", self.snumber)
obj=student(987654321,"himanshu",987654321)
print(student.__doc__)
obj.talk()

Here we got the student details
Student Details
Student Id: 987654321
Student Name: himanshu
Student Name: 987654321

In [10]:
# write a programm to get empployee  details using OOPS
class emp:
  def __init__(self,empname,empage,empcompany,empsalary,emprole):
    self.empname=empname
    self.empage=empage
    self.empcompany=empcompany
    self.empsalary=empsalary
    self.emprole=emprole
  def talk(self):
    print("method exection")
    print("hello my name is:", self.empname)
    print("hello my age is:",self.empname)
    print("hello my company is:",self.empcompany)
    print("hello my salary is:",self.empsalary)
    print("hello my role is:",self.emprole)
obj=emp("sanad",29,"deeshaw",52000,"datascientist")
print(emp.__doc__)
obj.talk()

None
method exection
hello my name is: sanad
hello my age is: sanad
hello my company is: deeshaw
hello my salary is: 52000
hello my role is: datascientist

In [11]:
# write a programm to get details of multiple employee using OOPS.


class emp:
  "we can get employee data using OOPs"
  def __init__(self,empname,empage,empcompany,empsalary,emprole):
    self.empname=empname
    self.empage=empage
    self.empcompany=empcompany
    self.empsalary=empsalary
    self.emprole=emprole
  def talk(self):
    print("method exection")
    print("hello my name is:", self.empname)
    print("hello my age is:",self.empage)
    print("hello my company is:",self.empcompany)
    print("hello my salary is:",self.empsalary)
    print("hello my role is:",self.emprole)
obj=emp("sanad",29,"deeshaw",52000,"datascientist")
obj1=emp("himanshu",30,"deeshaw",60000,"datascientist")
print(emp.__doc__)
obj.talk()
obj1.talk()

we can get employee data using OOPs
method exection
hello my name is: sanad
hello my age is: 29
hello my company is: deeshaw
hello my salary is: 52000
hello my role is: datascientist
method exection
hello my name is: himanshu
hello my age is: 30
hello my company is: deeshaw
hello my salary is: 60000
hello my role is: datascientist

In [12]:
class emp:
  "we can get employee data using OOPs"
  def __init__(self,empname,empage,empcompany,empsalary,emprole):
    self.empname=empname
    self.empage=empage
    self.empcompany=empcompany
    self.empsalary=empsalary
    self.emprole=emprole
  def talk(self):
    print("hello my name is:", self.empname)
    print("hello my age is:",self.empage)
    print("hello my company is:",self.empcompany)
    print("hello my salary is:",self.empsalary)
    print("hello my role is:",self.emprole)
obj=emp("sanad",29,"deeshaw",52000,"datascientist")
print(emp.__doc__)
obj.talk()

we can get employee data using OOPs
hello my name is: sanad
hello my age is: 29
hello my company is: deeshaw
hello my salary is: 52000
hello my role is: datascientist

In [13]:
class emp:
  "we can get employee data using OOPs"
  def __init__(self,empname,empage,empcompany,empsalary,emprole):
    self.empname=empname
    self.empage=empage
    self.empcompany=empcompany
    self.empsalary=empsalary
    self.emprole=emprole
  def talk(self):
    print("hello my name is:", self.empname)
    print("hello my age is:",self.empname)
    print("hello my company is:",self.empcompany)
    print("hello my salary is:",self.empsalary)
    print("hello my role is:",self.emprole)

obj=emp("sanad",29,"deeshaw",52000,"datascientist")

obj1=emp("himanshu",30,"deeshaw",60000,"datascientist")

print(emp.__doc__)

obj.talk()
print("-----------------------------------------------------------")


obj1.talk()
print("-----------------------------------------------------------")

we can get employee data using OOPs
hello my name is: sanad
hello my age is: sanad
hello my company is: deeshaw
hello my salary is: 52000
hello my role is: datascientist
-----------------------------------------------------------
hello my name is: himanshu
hello my age is: himanshu
hello my company is: deeshaw
hello my salary is: 60000
hello my role is: datascientist
-----------------------------------------------------------

In [14]:
print(help(emp))

Help on class emp in module __main__:

class emp(builtins.object)
 |  emp(empname, empage, empcompany, empsalary, emprole)
 |
 |  we can get employee data using OOPs
 |
 |  Methods defined here:
 |
 |  __init__(self, empname, empage, empcompany, empsalary, emprole)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  talk(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

In [16]:
class emp:
  def __init__(self):
    print(id(self))
obj=emp()
print(id(obj))

136392659744368
136392659744368

In [ ]:
class emp:
  "we can get employee data using OOPs"
  def __init__(self,empname,empage,empcompany,empsalary,emprole):
    self.empname="sanad"
    self.empage=29
    self.empcompany="deeshaw"
    self.empsalary=520000
    self.emprole="datascientist"
    print("constructor execution")
  def talk(self):
    print("method exection")
    print("hello my name is:", self.empname)
    print("hello my age is:",self.empage)
    print("hello my company is:",self.empcompany)
    print("hello my salary is:",self.empsalary)
    print("hello my role is:",self.emprole)
obj=emp("sanad",29,"deeshaw",52000,"datascientist")
print(emp.__doc__)
obj.talk()

# Constructor

* Whenever we are creating object, constructor will be executed automatically and we are not required to call expcitelly.
* The main objective of the constructor is to declair and initilize variable.
* For every object constructor will be executed only once. This will be called as default constructor.

# What is Self?

* Self is an implicite variable which is always provided by the PVM 'python virtual machine.
* Self is always pointing to the current onject.
* For every constructor an instance method, the first argument should be self.

In [17]:
class test:
  def __init__(self):
    print("constructor execution")
t=test()

constructor execution

In [18]:
class test:
  def __init__(self):
    self.x=10
    self.y=20
  def demo(self):
    print(self.x)
    print(self.y)
obj=test()
obj.demo()

10
20

In [20]:
class test:
  def __init__(self):
    self.x=10
    self.y=20
  def demo(self):
    print(self.x)
    print(self.y)
t=test()

In [21]:
class test:  #if two constructor, or two method but different argument it will be known as overloded, only considered by PVM last.9
  def __init__(self):
    print("no argument")
  def __init__(self,x):
    print("one argument")
t1=test(10)

one argument

In [22]:
#printing multiple candidates details
class student:
  cname="dataloves"
  def __init__(self,sid,sname,sage):
    self.sid=sid
    self.sname=sname
    self.sage=sage
  def display(self):
    print("hello my id is:", self.sid)
    print("hello my name is :",self.sname)
    print("hello my age is:",self.sage)
    print("hello my college name is:",self.cname)
obj=student(2453, "sanad",29)
obj2=student(111,"himanshu",65)
obj3=student(564,"Raj",69)
print("data1")
obj.display()
print("data2")
obj2.display()
print("data3")
obj3.display()

data1
hello my id is: 2453
hello my name is : sanad
hello my age is: 29
hello my college name is: dataloves
data2
hello my id is: 111
hello my name is : himanshu
hello my age is: 65
hello my college name is: dataloves
data3
hello my id is: 564
hello my name is : Raj
hello my age is: 69
hello my college name is: dataloves

In [23]:
class student:
  cname="dataloves" #statice variable
  def __init__(self,sid,sname,sage): #constructor parametrized
    self.sid=sid #instance variable
    self.sname=sname
    self.sage=sage
  def display (self): #instance method
    print("hello my id is:", self.sid) #instance varibale
    print("hello my name is :",self.sname)
    print("hello my age is:",self.sage)
  @classmethod #decorator
  def getCollegename(cls):
    print("college name is:", cls.cname)
    #print("hello my college name is:",self.cname)
    #use of statice variable by self, but we are not reccomended to do this.
obj=student(2453, "sanad",29)
obj2=student(111,"himanshu",65)
obj3=student(564,"Raj",69)
student.getCollegename()
print("data1")
obj.display()
print("data2")
obj2.display()
print("data3")
obj3.display()

college name is: dataloves
data1
hello my id is: 2453
hello my name is : sanad
hello my age is: 29
data2
hello my id is: 111
hello my name is : himanshu
hello my age is: 65
data3
hello my id is: 564
hello my name is : Raj
hello my age is: 69

In [24]:
class student:
  cname="dataloves" #statice variable
  def __init__(self,sid,sname,sage): #constructor parametrized
    self.sid=sid #instance variable
    self.sname=sname
    self.sage=sage
  def display (self): #instance method
    print("hello my id is:", self.sid) #instance varibale
    print("hello my name is :",self.sname)
    print("hello my age is:",self.sage)
  @classmethod #decorator
  def getCollegename(cls):
    print("college name is:", cls.cname)
  def findavg(x,y):
    print("Average is:",(x+y)/2 )
    #print("hello my college name is:",self.cname) #use of statice variable by self, but we are not reccomended to do this.
obj=student(2453, "sanad",29)
obj2=student(111,"himanshu",65)
obj3=student(564,"Raj",69)
student.getCollegename()
student.findavg(10,5)
print("data1")
obj.display()
print("data2")
obj2.display()
print("data3")
obj3.display()

college name is: dataloves
Average is: 7.5
data1
hello my id is: 2453
hello my name is : sanad
hello my age is: 29
data2
hello my id is: 111
hello my name is : himanshu
hello my age is: 65
data3
hello my id is: 564
hello my name is : Raj
hello my age is: 69

In [28]:
class employee: #use of constructor
  salutation="welcome all" #class attributes
  def __init__(self):
    self.ename="sanad"
    self.eid=234
  def display(self):
    print("employee name is :%s \nemployee id:%d"%(self.ename,self.eid))
print(obj.salutation)
obj=employee()
obj.display()

welcome all
employee name is :sanad
employee id:234

# what is python constructor?

* In programm construction, every statement like data attributes, class members, methods and other objects must be present within the class boundary.

* A constructor is a special type of method that help to initilize a newly created object.

* Depending on constructor (init method) we can pass ant no of the arguments by creating the class objects.

* Their are two type of constructor available in python programm in order to initlize instance member of the class.

* Non Parameterized and Parameterized constructors.

In [29]:
class dataloves: #Example of Non Parametrized Constructor

  community=""
  def __init__(self):
    self.community="welcome to dataloves trainee"
  def display(self):
    print(self.community)
obj=dataloves()
obj.display()

welcome to dataloves trainee

In [30]:
# Example for Parametrized Constructor

class fruits:
  def __init__(self,fname,fcolor):
    self.fname=fname
    self.fcolor=fcolor
  def display(self):
    print("fruit name:",self.fname)
    print("fruit color",self.fcolor)
fruit=fruits("orange","orange")
fruit2=fruits("apple","red")
fruit3=fruits("banana","yellow")
fruit4=fruits("Pear","green")
fruit.display()
fruit2.display()
fruit3.display()
fruit4.display()

fruit name: orange
fruit color orange
fruit name: apple
fruit color red
fruit name: banana
fruit color yellow
fruit name: Pear
fruit color green

In [31]:
class fruits:
  total=0
  def __init__(self,fname,fcolor):
    self.fname=fname
    self.fcolor=fcolor
    fruits.total+=1
  def display(self):
    print("fruit name:",self.fname)
    print("fruit color",self.fcolor)
fruit=fruits("orange","orange")
fruit2=fruits("apple","red")
fruit3=fruits("banana","yellow")
fruit4=fruits("Pear","green")
fruit.display()
fruit2.display()
fruit3.display()
fruit4.display()
print(fruits.total) #total number of fruits

fruit name: orange
fruit color orange
fruit name: apple
fruit color red
fruit name: banana
fruit color yellow
fruit name: Pear
fruit color green
4

In [32]:
# Arithmetic Operations using Oops

class calculation:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    print("addidtion:",self.a+self.b)
  def sub(self):
    print("sub:",self.a-self.b)
  def multiplication(self):
    print("multiplication:",self.a*self.b)
  def division(self):
    print("division:",self.a/self.b)
  def floorDivision(self):
    print("floordivision:",self.a//self.b)
  def mod(self):
    print("modulous:",self.a%self.b)
obj=calculation(a=int(input("enter the number")),b=int(input("enter the number")))
obj.add()
obj.sub()
obj.multiplication()
obj.division()
obj.floorDivision()
obj.mod()

enter the number9
enter the number6
addidtion: 15
sub: 3
multiplication: 54
division: 1.5
floordivision: 1
modulous: 3

In [33]:
class calculation:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    print("addidtion:",self.a+self.b)
  def sub(self):
    print("sub:",self.a-self.b)
  def multiplication(self):
    print("multiplication:",self.a*self.b)
  def division(self):
    print("division:",self.a/self.b)
  def floorDivision(self):
    print("floordivision:",self.a//self.b)
  def mod(self):
    print("modulous:",self.a%self.b)
p=int(input("enter the number"))
q=int(input("enter the number"))
obj=calculation(p,q)
obj.add()
obj.sub()
obj.multiplication()
obj.division()
obj.floorDivision()
obj.mod()

enter the number100
enter the number50
addidtion: 150
sub: 50
multiplication: 5000
division: 2.0
floordivision: 2
modulous: 0

In [34]:
class calculation:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    print("addidtion:",self.a+self.b)
  def sub(self):
    print("sub:",self.a-self.b)
  def multiplication(self):
    print("multiplication:",self.a*self.b)
  def division(self):
    print("division:",self.a/self.b)
  def floorDivision(self):
    print("floordivision:",self.a//self.b)
  def mod(self):
    print("modulous:",self.a%self.b)
p=str(input("enter the number")) #string wwill not work
q=str(input("enter the number"))
obj=calculation(p,q)
obj.add()
obj.sub()
obj.multiplication()
obj.division()
obj.floorDivision()
obj.mod()

enter the number50
enter the number50
addidtion: 5050

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Accessing instance attribiute

* In python we can access the object, variable using the dot operator, for calling the instance methodd in a programm you should create an object from the class that will
provide accibility of class member, an attributes with the help of the dot operator

In [35]:
class community:
  def __init__(sanad,name,year):
    sanad.name=name
    sanad.year=year
  def demo(sanad):
    print("hello good aternoon")
obj=community("datalove is a community","year of establismnet was 2019")
obj.demo()

hello good aternoon

In [36]:
class community:
  def __init__(sanad,name,year):
    sanad.name=name
    sanad.year=year
  def demo(sanad):
    print("hello good aternoon")
obj=community("datalove is a community","year of establismnet was 2019")
obj.demo()
print("welcome to",obj.name,"and",obj.year) #dot operator

hello good aternoon
welcome to datalove is a community and year of establismnet was 2019

# Accessing attribute inbuilt class function
* getattr(obj,name)- it allow us to access an attriute of an object
* setattr(obj,name)- This method use to set an attruibute if it created when it dosnt exist.
* hasattr(obj,name)-to check the attribute exist or not
* delattr(obj,name)-to delete an attribute

In [37]:
class dog:
  name="dommy"
  age=8
  def show(self):
    print(self.name)
    print(self.age)
obj=dog()
print(getattr(obj,'height'))

AttributeError: 'dog' object has no attribute 'height'

In [38]:
class dog:
  name="dommy"
  age=8
  def show(self):
    print(self.name)
    print(self.age)
obj=dog()
print(getattr(obj,'name'))

dommy

In [39]:
class dog:
  name="dommy"
  age=8
  def show(self):
    print(self.name)
    print(self.age)
obj=dog()
print(hasattr(obj,'height'))

False

In [40]:
class dog:
  name="dommy"
  age=8
  def show(self):
    print(self.name)
    print(self.age)
obj=dog()
setattr(obj,'height',175)

In [41]:
print(hasattr(obj,"height"))

True

In [42]:
print(getattr(obj,"height"))

175

In [43]:
print(hasattr(obj,"age"))

True

In [44]:
delattr(dog,"age") #only class will be able to perform del operation.

In [45]:
print(hasattr(obj,"age"))

False

# Built-in class attributes

* pythob built-in class attributes give us some info about the class.
* Every class in python can retain below an attribute an access  by using the dot operator.
* __dict__ - to holding the class information
* __doc__ - to give the class documentation string
* __name__ - to give the class name
* __module__-it provide the module name in which the class is defined
* __bases__-to give the bases(in other words object information)

In [46]:
class colors:
  "this  is a sample class called colors"
  colorCount=0
  def __init__(self,red,yellow):
    self.red="apple"
    self.yellow="lemon"
    colors.colorCount+=1
  def display(self):
    print("red color fruit is:",self.red)
    print("yellow color fruit is:",self.yellow)
obj=colors("apple","lemon")
obj.display()
print(colors.colorCount) #only one time constructor is working, constructor only call according to object calling

red color fruit is: apple
yellow color fruit is: lemon
1

In [47]:
class colors:
  "this  is a sample class called colors" #documentation string
  colorCount=0 #global Variable
  def __init__(self,red,yellow): #constructor
    self.red="apple" #instance variable
    self.yellow="lemon"#instance variable
    colors.colorCount+=1 #instance variable
  def display(self): #Instance Variable
    print("red color fruit is:",self.red)
    print("yellow color fruit is:",self.yellow)

print("colors.__doc__",colors.__doc__)

colors.__doc__ this  is a sample class called colors

In [48]:
class colors:
  "this  is a sample class called colors" #documentation string
  colorCount=0 #global Variable
  def __init__(self,red,yellow): #constructor
    self.red="apple" #instance variable
    self.yellow="lemon"#instance variable
    colors.colorCount+=1 #instance variable
  def display(self): #Instance Variable
    print("red color fruit is:",self.red)
    print("yellow color fruit is:",self.yellow)

print("colors.__name__",colors.__name__)  #builtin attributes
print("colors.__module__",colors.__module__)
print("colors.__bases__",colors.__bases__)
print("colors.__dict__",colors.__dict__)

colors.__name__ colors
colors.__module__ __main__
colors.__bases__ (<class 'object'>,)
colors.__dict__ {'__module__': '__main__', '__doc__': 'this  is a sample class called colors', 'colorCount': 0, '__init__': <function colors.__init__ at 0x7c0c49147c70>, 'display': <function colors.display at 0x7c0c49147a30>, '__dict__': <attribute '__dict__' of 'colors' objects>, '__weakref__': <attribute '__weakref__' of 'colors' objects>}

In [51]:
class employee:
  def __init__(self,ename,eId,esalary):
    self.ename=ename
    self.eId=eId
    self.esalary=esalary
  def info(self):
    self.eloc="banglore"
    print("employee name:",self.ename)  #No need to use this, as we need data in dictionary
    print("employee Id:",self.eId)
    print("employee salary:",self.esalary)
obj=employee("sanad",265,415467)
obj.info()

employee name: sanad
employee Id: 265
employee salary: 415467

In [52]:
class employee:
  def __init__(self,ename,eId,esalary):
    self.ename=ename
    self.eId=eId
    self.esalary=esalary
  def info(self):
    self.eloc="banglore"
obj=employee("sanad",265,415467)
obj.info()
print(obj.__dict__)

{'ename': 'sanad', 'eId': 265, 'esalary': 415467, 'eloc': 'banglore'}

In [53]:
class employee:
  def __init__(self,ename,eId):
    self.ename=ename
    self.eId=eId
  def info(self):
    self.eSal=60000
obj=employee("sanad",265)
obj.info()
obj.eloc="banglore" #new addition in dictionary due to mutability
print(obj.__dict__)

{'ename': 'sanad', 'eId': 265, 'eSal': 60000, 'eloc': 'banglore'}

In [54]:
class student:
  def __init__(self):
    self.a=10
    self.b=20
    self.c=30
  def m1(self):
    self.d=40
  def m2(self):
    self.e=50
obj=student()
obj.m1()
obj1=student()
obj1.m2()
obj1.p=200
obj1.q=300
print(obj.__dict__)
print(obj1.__dict__)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 10, 'b': 20, 'c': 30, 'e': 50, 'p': 200, 'q': 300}

In [55]:
class test:
  def __init__(self):
    self.a=10
    self.b=20
    self.c=30
  def delete(self):
    del self.b
    del self.c
obj=test()
print(obj.__dict__)

{'a': 10, 'b': 20, 'c': 30}

In [56]:
class test:
  def __init__(self):
    self.a=10
    self.b=20
    self.c=30
  def delete(self):
    del self.b
    del self.c
obj=test()
obj.delete()
print(obj.__dict__)

{'a': 10}

In [57]:
class test:
  def __init__(self):
    self.a=10
    self.b=20
    self.c=30
  def delete(self):
    del self
obj=test()
obj.delete()
print(obj.__dict__)

{'a': 10, 'b': 20, 'c': 30}

In [58]:
class test:
  def __init__(self):
    self.a=10
    self.b=20
    self.c=30
obj=test()
obj1=test()
del obj.a
del obj1.b
print(obj.__dict__)
print(obj1.__dict__)

{'b': 20, 'c': 30}
{'a': 10, 'c': 30}

In [59]:
class test:
  def __init__(self):
    self.a=10
    self.b=20
obj1=test()
obj2=test()
obj1.a=888
obj2.b=999
print(obj1.a,obj2.b)
print(obj2.a,obj2.b)

888 999
10 999

In [60]:
class test:
  a=10
  def __init__(self):
    print("inside constructor")
    print(test.a)
    print(self.a)
  def m1(self):
    print("inside instance Method")
    print(test.a)
    print(self.a)
obj=test()
obj.m1()

inside constructor
10
10
inside instance Method
10
10

In [61]:
class test:
  a=10
  def __init__(self):
    print("inside constructor")
    print(test.a)
    print(self.a)
  def m1(self):
    print("inside instance Method")
    print(test.a)
    print(self.a)
  def m2(cls):
    print("inside class method")
    print(test.a)
    print(cls.a)
  @staticmethod
  def m3():
    print("inside static method")
    print(test.a)
obj=test()
obj.m1()
obj.m2()
obj.m3()
print("inside from the class")
print(test.a)
print(obj.a)

inside constructor
10
10
inside instance Method
10
10
inside class method
10
10
inside static method
10
inside from the class
10
10

In [62]:
class test:
  a=10
  def __init__(self):
    test.a=20
obj=test()
print(test.a)
print(obj.a) #case1

20
20

In [63]:
class test:
  a=10
  def __init__(self):
    test.a=20
  @classmethod
  def m1(cls):
    cls.a=30
    test.a=40
obj=test()
obj.m1()
print(test.a)
print(obj.a) #case2

40
40

In [64]:
class test:
  a=10
  def __init__(self):
    test.a=20
  @classmethod
  def m1(cls):
    cls.a=30
    test.a=40
  @staticmethod
  def m2():
    test.a=50
obj=test()
obj.m1()
obj.m2()
test.a=60
print(test.a)
print(obj.a) #case3

60
60

In [65]:
class test:
  def m1(self):
    a=100
    print(a)
  def m2(self):
    b=200
    print(b)
obj=test()
obj.m1()
obj.m2()

100
200

In [66]:
class test:
  def m1(self):
    a=100
    print(a)
  def m2(self):
    b=200
    print(a,b) #name error
obj=test()
obj.m1()
obj.m2()

100
(1,) 200

In [67]:
x=100
class test:
  def m1(self):
    print(x)
  def m2(self):
    print(x)
obj=test()
obj.m1()
obj.m2()

100
100

In [68]:
x=100
class test:
  x=777
  def m1(self):
    x=888
    print(x)
  def m2(self):
    print(x)
    print(test.x)
obj=test()
obj.m1()

888

In [69]:
class animals:
  leg=4
  @classmethod
  def walk(cls,name):
    cls.name=name
    print(cls.name,"walk with", animals.leg, "legs")
animals.walk("dog")
animals.walk("cat")

dog walk with 4 legs
cat walk with 4 legs

In [70]:
class employee:
  cname='Infosys' #static variable
  #print(cname)
  def _init_(self,eid,ename,esale,eloc): #constructor with parameter
    self.eid=eid #instance variable
    self.ename=ename #instance variable
    self.esale=esale
    self.eloc=eloc
  def display(self): #instance method
    print('Hello my id is=',self.eid)
    print('my name is=',self.ename)
    print('my salary is=',self.esale)
    print('my location is=',self.eloc)
    #print('my company name is=',self.cname)
  @classmethod
  def get_company_name(cls): #class method
    print('Hello my company name is=',cls.cname)   #class level variable
obj=employee(5426,'Honey', 45000,'Kanpur')
obj1=employee(4236,'Sooraj',55000,"Noeda")
employee.get_company_name()
obj.display() #object by calling
obj1.display()

TypeError: employee() takes no arguments

In [71]:
class GeekforGeeks:

    # default constructor
    def __init__(self):
        self.geek = "GeekforGeeks"

    # a method for printing data members
    def print_Geek(self):
        print(self.geek)


# creating object of the class
obj = GeekforGeeks()

# calling the instance method using the object obj
obj.print_Geek()

GeekforGeeks

# what is inheriterance?

* Inheritance allows us to define a class that inherits all the methods and properties from another class.
* Parent class is the class being inherited from, also called base class.
* Child class is the class that inherits from another class, also called derived class"""

# type of inheriterance

* Single level inheriterance
* multilevel inheriterance
* multiple inheriterance
* Hierarchical
* Hybrid

In [72]:
#Single level inheriterance:
class parent:                     #single level inheriterance syntax
  pass
class child(parent):
  pass

In [73]:
#multilevel inheriterance #synatx
class a:    #grandfather
  pass
class b(a): #father
  pass
class c(b): #child
  pass

In [74]:
#multiple Inheriterance : One child class with multiple parent class called multiple inheriterance or multiple father with one child.
class a: #father
  pass
class b: #father
  pass
class c(a,b): #child
  pass

In [75]:
#Hierarchical Inheriterance : One father with multiple childs.
class a: #father
  pass
class b(a): #child
  pass
class c(a): #child
  pass

In [76]:
#hybrid Inheriterance: combination of multiple with hierarchial inheriterance.
#we cannot define syntex for Hybrid inheriterance.

In [77]:
class a: #example for single level inheriterance
  def m1(self):
    print("m1 method")
class b(a):
  def m2(self):
    print("m2 method")
obj=b()
obj.m1()
obj.m2()

m1 method
m2 method

In [78]:
#example for multi level inheriterance
class a:
  def m1(self):
    print("m1 method")
class b(a):
  def m2(self):
    print("m2 method")
class c(b):
  def m3(self):
    print("m3 method")
obj=c() #always current class object will be called
obj.m1()
obj.m2()
obj.m3()

m1 method
m2 method
m3 method

In [79]:
#hierarichial inheriterance
class vehical:
  def disp1(self):
    print("vehical information")
class car(vehical):
  def disp2(self):
    print("car information")
class areoplane(vehical):
  def disp3(self):
    print("Areoplane information")
obj1=vehical()
obj1.disp1()
obj1.disp2()
obj1.disp3()

vehical information

AttributeError: 'vehical' object has no attribute 'disp2'

In [80]:
#hierarichial inheriterance
class vehical:
  def disp1(self):
    print("vehical information")
class car(vehical):
  def disp2(self):
    print("car information")
class areoplane(vehical):
  def disp3(self):
    print("Areoplane information")
obj1=vehical()
obj1.disp1()

vehical information

In [81]:
obj2=car()
obj2.disp2()

car information

In [82]:
obj2.disp1()

vehical information

In [83]:
obj2.disp3()

AttributeError: 'car' object has no attribute 'disp3'

In [84]:
obj3=areoplane()
obj3.disp1()

vehical information

In [85]:
obj3.disp2()

AttributeError: 'areoplane' object has no attribute 'disp2'

In [86]:
obj3.disp3()

Areoplane information

In [87]:
class vehical: #case 1
  def disp1(self):
    print("vehical information")
class car(vehical):
  def disp2(self):
    print("car information")
class areoplane(vehical):
  def disp3(self):
    print("Areoplane information")
obj=vehical()
obj.disp1()
"""obj.disp2() Will not be able to inherete
obj.disp3()"""

vehical information

'obj.disp2() Will not be able to inherete\nobj.disp3()'

In [88]:
class vehical: #case 2
  def disp1(self):
    print("vehical information")
class car(vehical):
  def disp2(self):
    print("car information")
class areoplane(vehical):
  def disp3(self):
    print("Areoplane information")
obj1=car()
obj1.disp1()
obj1.disp2()
#obj1.disp3() #will not be able to inherte

vehical information
car information

In [89]:
class vehical: #case 2
  def disp1(self):
    print("vehical information")
class car(vehical):
  def disp2(self):
    print("car information")
class areoplane(vehical):
  def disp3(self):
    print("Areoplane information")
obj2=areoplane()
obj2.disp1()
#obj2.disp2() #will bot be able to inherate
obj2.disp3()

vehical information
Areoplane information

In [90]:
#multiple Inheriterance
class parent1():
  def m1(self):
    print("Parent1 information")
class parent2():
  def m2(self):
    print("parent2 information")
class child(parent1,parent2):
  def m3(self):
    print("child Information")
obj=child()
obj.m1()
obj.m2()
obj.m3()

Parent1 information
parent2 information
child Information

In [91]:
class School:
    def func1(self):
        print("This function is in school.")
class Student1(School):
    def func2(self):
        print("This function is in student 1. ")
class Student2(School):
    def func3(self):
        print("This function is in student 2.")
class Student3(Student2, School):
    def func4(self):
        print("This function is in student 3.")
object = Student3()
object.func1()
object.func3()

This function is in school.
This function is in student 2.

In [92]:
class person():
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname
class emp(person):
  def __init__(self,fname,lname,eid):
    self.fname=fname
    self.lname=lname
    self.eid=eid
  def disp(self):
    print("employee id number is:",self.eid)
    print("employee first name is:",self.fname)
    print("employee last name is:",self.lname)
obj=emp("sanad","singh",2457)
obj.disp()

employee id number is: 2457
employee first name is: sanad
employee last name is: singh

In [93]:
class person(): #use of super function
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname
class emp(person):
  def __init__(self,fname,lname,eid):
    #self.fname=fname
    #self.lname=lname
    super().__init__(fname,lname)
    self.eid=eid
  def disp(self):
    print("employee id number is:",self.eid)
    print("employee first name is:",self.fname)
    print("employee last name is:",self.lname)
obj=emp("sanad","singh",2457)
obj.disp()

employee id number is: 2457
employee first name is: sanad
employee last name is: singh

In [94]:
class person():
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname
class emp(person):
  def __init__(self,fname,lname,eid):
    #self.fname=fname
    #self.lname=lname
    #super().__init__(fname,lname)
    person.__init__(self,fname,lname) #use of parent class.
    self.eid=eid
  def disp(self):
    print("employee id number is:",self.eid)
    print("employee first name is:",self.fname)
    print("employee last name is:",self.lname)
obj=emp("sanad","singh",2457)
obj.disp()

employee id number is: 2457
employee first name is: sanad
employee last name is: singh

In [95]:
class Mammal():
  def __init__(self, mName):
    print(mName, 'is a warm-blooded animal.')
class Dog(Mammal):
  def __init__(self):
    print('Dog has four legs.')
    super().__init__('Dog') #use of super keyword in single level inheritance.
d1 = Dog()

Dog has four legs.
Dog is a warm-blooded animal.